body {
    margin: 0;
    padding: 0;
}
p {
    margin: 0;
    padding: 0;
}
.vina-sans-regular {
    font-family: "Vina Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
#buttons-header {
    position: absolute;
    z-index: 2;
    background-color: green;
    width: 80vw;
    left: 20vw;
    height: 100px;
    margin: 0 !important;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
#left-column {
    position: fixed;
    background-color: orange;
    z-index: 1;
    width: 20vw;
    height: 100vw;
    margin: 0;

    padding: 0;
    color: white;
    
    margin-top: 0;
    font-family: "Vina Sans", sans-serif;

    justify-content: flex-start;
}
#do-good {
    font-size: 1000%;
    line-height: 90%;
}
#cad-tag {
    font-size: 140%;
}
.header-button {
    border: none;
}

.header-button:hover {
    background-color: black;
    color: white;
}

.selected {
    background-color: black;
    color: white;
    height: 100px;
}

.unselected {
    background-color: rgb(130, 90, 0);
    height: 100%;
}